@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    color: white;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    img {
        width: 40px;
        margin-left: 10px;
    }
}

.chapter {
    .content {
        margin: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-size: 35px;
            font-family: 'Clash Grotesk', sans-serif;
        }
        p {
            font-size: 16px;
            font-size: 17px;
            text-align: justify;
            font-family: "Roboto Serif", serif;
            line-height: 20px;
        }
    }
}