* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    color: white;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    img {
        width: 40px;
        margin-left: 10px;
    }
}

.chapter {
    .content {
        margin: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-size: 35px;
            font-family: 'Clash Grotesk', sans-serif;
        }
        p {
            font-size: 17px;
            text-align: justify;
            font-family: 'Neco', serif;
        }
    }
}